@import 'compass/reset';
@import 'compass/css3';

$base: 22.856px;
$accent: #36c;

body { 
  background: #f8f8f8 image-url('manifest/sketch.png');
  color: #333;
  font: 100%/1.4285 'PT Sans';
}

h1, h2, h3 { @include text-shadow(0 1px 0 white); }

h1, h2 {
  margin-bottom: $base;
  font: 200% 'Oswald';
  text-transform: uppercase;
}

h1 {
  padding-bottom: $base;
  font: 200% 'Oswald';
  text-align: center;
  text-transform: uppercase;
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

h3 {
  font-size: 150%;
  margin-bottom: 16px;
}

p {
  margin-bottom: 16px;
  &:last-child { margin-bottom: 0; }
}

a { color: $accent; }

strong, label { font-weight: bold; }

.app-nav {
  width: $base * 10;
  position: fixed;
  top: 0; bottom: 0;
  padding: $base * 2 0;
  background: #fbfbfb;
  border-right: 1px solid #ccc;
  @include box-shadow(1px 0 1px rgba(0, 0, 0, 0.1));
}

.manifest-version {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #bbb;
  font-size: 60%;
  font-style: italic;
  text-align: center;
  @include text-shadow(0 1px 0 white);

  a { color: inherit; }
}

.app-nav nav {
  padding-bottom: $base;

  li {
    &:first-child a { border-top: 1px solid rgba(0, 0, 0, 0.2); }

    a {
      display: block;
      padding: 0 $base;
      border-top: 1px solid white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      color: #666;
      line-height: 2;
      text-decoration: none;
      @include text-shadow(0 1px 0 white);

      &:hover { background: white; }

      &:active {
        background: #aaa;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        @include box-shadow(2px 2px 2px rgba(0, 0, 0, 0.2) inset);
        color: #333;
        @include text-shadow(0 1px 0 #ccc);
      }
    }
  }
}

.app-nav .nav-select { display: none; }

.app-content {
  margin-left: $base * 10;
  padding: $base * 2 $base;

  ul {
    margin-left: 1em;
    list-style: disc;
  }
}

.model-actions {
  margin-top: $base;
}

@import 'forms';
@import 'tables';
@import 'response';
