<h2>Content Blocks</h2>

<table>
  <thead>
    <th>Title</th>
    <th>Page</th>
  </thead>

  <tbody>
    <% @content_blocks.each do |c| %>
      <tr>
        <td><%= link_to c.title, edit_manifest_content_block_path(c) %></td>
        <td><%= link_to c.page.title, manifest_page_path(c.page) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='model-actions'>
  <%= link_to 'New Content Block', new_manifest_content_block_path %>
</div><!-- model-actions -->
